.speakers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.speaker-card {
    --card-width: min(100vh, 275px);
    flex: 1 0 31%;
    display: flex;
    margin: 5px;
    justify-content: center;
}
