.speakersContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .speakerCard {
        --dark-background: #181818;
        --text-color: white;
        width: 29rem;
        margin: 0.5rem;
        justify-content: center;
        .backdrop{
            width: calc(100% - 3rem);
            aspect-ratio: 44/32;
            object-fit: cover;
        }
        .infoCard {
            transform: translate(2rem, -2rem);
            width: calc(100% - 3rem);
            display: flex;
        }
    }
}
