.card {
   margin-left: auto;
   margin-right: auto;
   margin-top: 10rem;
   display: flex;
   justify-content: space-between;
   flex-wrap: nowrap;
   flex-direction: row;
   height: 75%;
   background: #343434;
   border-radius: 2rem;
   width: 80%;
   @media only screen and (max-width: 1200px) {
      flex-direction: column;
      flex-wrap: nowrap;
   }
   .hack {
      padding: 0.5rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .h5 {
         color: var(--secondary);
         font-family: 'Roboto', sans-serif;
         font-weight: 400;
         font-style: normal;
         font-size: 2.5rem;
         padding: 2rem 1rem 1rem 2rem;
         text-align: start;
         @media only screen and (max-width: 1200px) {
            text-align: center;
         }
         @media only screen and (max-width: 768px) {
            font-size: 1.5rem;
            padding: 0.5rem 0.5rem 0.5rem 0.5rem;
         }
      }
      .align {
         display: flex;
         justify-content: center;
         align-items: center;
      }
   }
   .image_container {
      .image {
         border-radius: 0 2rem 2rem 0;
         @media (max-width: 1200px) {
            border-radius: 0 0 2rem 2rem;
         }
         width: 100%;
      }
   }
   .button {
      background: var(--tertiary) !important;
      padding: 1.125rem;
      .anchor {
         text-decoration: none;
         color: var(--secondary);
         :hover {
            text-decoration: none;
         }
      }
   }
}
