.mobile {
   @media only screen and (max-width: 576px) {
      background-image: url('../../assets/img/background.png');
      position: 'relative';
      background-size: 200%;
      background-repeat: no-repeat;
      background-position: 50% 60%;
      .height {
         height: auto;
         height: 100vh;
      }
   }
}
.Register {
   margin-top: 10%;
   display: flex;
   justify-content: center;
   .buttons {
      display: flex;
      flex-wrap: wrap;
      width: 60%;
      justify-content: space-around;
      @media only screen and (max-width: 576px) {
         position: absolute;
         bottom: 5rem;
      }
      button {
         padding: 1rem 2.5rem;
         color: white;
         margin: 10px;
         filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
      }
      .dashboard {
         color: white;
         background: #4452fe;
      }
      .register {
         color: white;
         background-color: #181818;
         border: 1px solid #ffffff;
      }
   }
}

.background {
   height: 100%;
      width: 100%;
      min-height: 50vh;
   @media only screen and (max-width: 576px) {
      display: none;
   }
}
