.mobile {
   @media only screen and (max-width: 576px) {
      /* min-height: 100vh;
      @media only screen and (max-width: 375px){
         min-height: 120vh;
      }
      @media only screen and(max-height:739px) and(max-width: 320px) {
         min-height: 170vh;
      } */
      background-image: url("../../assets/img/background.svg");
      position: relative;
      background-size: 200%;
      background-repeat: no-repeat;
      background-position: 50% 100%;

      main {
         p {
            margin: 5rem 0;
         }
      }
      h1 {
         margin-top: 3rem;
      }
   }
   @media only screen and (min-width: 576px) {
      h1 {
         font-style: normal;
         line-height: 88px;
         letter-spacing: 0.2px;
         font-weight: 400;
         font-size: 80px;
      }
      main {
         text-align: center;
         p {
            font-style: normal;
            font-size: 36px;
            line-height: 41px;
         }
      }
   }
}

.Register {
   @media only screen and(min-width:576px) {
      margin-top: 6.25rem;
   }
   display: flex;
   justify-content: center;
   .buttons {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      justify-content: space-around;
      .dashboard {
         color: white;
         background: #4452fe;
      }
      button {
         padding: 1rem 2.5rem;
         color: white;
         margin: 10px;
         border: 1px solid #ffffff;
      }
      .register {
         color: white;
         background-color: #181818;
      }
   }
}

.background {
   height: 100%;
   width: 100%;
   min-height: 50vh;
   @media only screen and (max-width: 576px) {
      display: none;
   }
}
