.btn {
   --dark-background: #181818;
   --text-color: white;
   --blue: #4452fe;
   background-color: var(--dark-background);
   font-size: 2rem;
   font-size: 500;
   font-style: normal;

   .primary {
      background-color: var(--blue);
      color: var(--text-color);
      min-width: 4rem;
      width: fit-content;
      padding: 0.5rem 1rem;
   }
   .secondary {
      background: var(--dark-background);
      color: var(--text-color);
      min-width: 4rem;
      width: fit-content;
      padding: 0.5rem 1rem;
      align-items: center;
      border: 2px solid var(--text-color);
   }
}
