.testimonialContainer {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    background: var(--primary);
    color: var(--text-color);
    .testimonialMembers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 52rem;
        align-self: center;
        margin-bottom: 3rem;
        .testimonialCard {
            display: flex;
            flex: 1 1 48%;
            margin: 0.5rem;
            justify-content: center;
        }
    }
}