.faqContainer {
    --transition-time: 250ms;
    .faq {
        margin-top: 5.5rem;
        border: 2px solid var(--tertiary);
        border-radius: 2rem;
        @media (max-width: 1024px) {
            border-radius: 1rem;
        }
        overflow: hidden;
        .questionAnswer {
            border-bottom: 2px solid var(--tertiary);
            padding: 0;
            transition: height var(--transition-time);
            height: auto;
            .questionWrapper {
                padding: 1rem 3rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media (max-width: 1024px) {
                    padding: 0.5rem 1.5rem;
                }
                .question {
                    font-size: 2.25rem;
                    @media (max-width: 1024px) {
                        font-size: 1.25rem;
                    }
                }
                .chevron {
                    width: 2.5rem;
                    @media (max-width: 1024px) {
                        width: 1.25rem;
                    }
                    transition: transform var(--transition-time);
                    transform: rotateX(0deg);
                }
                .chevronExpanded {
                    transform: rotateX(180deg);
                }
            }
            .answerWrapper {
                background: linear-gradient(to bottom, var(--primary), var(--tertiary));
                max-height: 25rem;
                overflow: clip;
                transition: max-height var(--transition-time);
                .answer {
                    padding: 1rem 3rem;
                    font-size: 1.5rem;
                    @media (max-width: 1024px) {
                        padding: 0.5rem 1.5rem;
                        font-size: 0.8rem;
                    }
                }
            }
            .hidden {
                max-height: 0;

                .answer {
                    visibility: hidden;
                }
            }
        }
        > :last-child {
            border-bottom: none;
        }
    }
}