.teamContainer {
   font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
      Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   display: flex;
   flex-direction: column;
   width: 100%;
   background: var(--primary);
   color: var(--text-color);
   .teamName {
      width: 100%;
      text-align: center;
      margin: 1.5rem 0;
      font-weight: 400;
      font-size: 52px;
   }
   .teamMembers {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 52rem;
      align-self: center;
      margin-bottom: 3rem;
      .teamCard {
         display: flex;
         flex: 1 1 48%;
         margin: 0.5rem;
         justify-content: center;
      }
   }
}
