:root {
   --primary: #181818;
   --secondary: #ffffff;
   --tertiary: #4452fe;
}

body {
   background: var(--primary) !important;
   color: var(--secondary) !important;
}

.sectionheading {
   color: var(--secondary);
   font-family: 'Roboto', sans-serif;
   font-weight: normal;
   padding-top: 10%;
}

.sectionsubheading {
   font-family: 'Roboto', sans-serif;
   font-weight: normal;
   color: var(--secondary) !important;
   padding-top: 3%;
}
.column6 {
   padding-left: 10%;
   padding-right: 10%;
   padding-top: 10%;
   padding-bottom: 5%;
}

.box-heading {
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   font-weight: 500;
   letter-spacing: 0.1px;
   text-align: left;
}
.box-text {
   font-family: 'Roboto', sans-serif;
   font: size 16px;
   font-weight: normal;
   letter-spacing: 0.2px;
   text-align: left;
}
.btn1 {
   background: var(--tertiary) !important;
   font-family: 'Roboto', sans-serif !important;
}

::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px var(--primary);
   box-shadow: inset;
   background-color: var(--primary);
}

::-webkit-scrollbar {
   width: 6px;
   background-color: var(--secondary);
}

::-webkit-scrollbar-thumb {
   background-color: var(--secondary);
}
.anchor {
   text-decoration: none;
   color: var(--secondary);
}
.anchor:hover {
   text-decoration: none;
}

.cont{
   margin-bottom: 1rem !important;
}