:root {
   --primary: #181818;
   --secondary: #ffffff;
   --tertiary: #4452fe;
}

.container {
   width: 80%;
   max-width: 85rem;
   border-radius: 2rem;
   background: linear-gradient(180deg, #343434 0%, rgba(24, 24, 24, 0) 100%);
   padding-top: 4rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   > h4 {
      margin-top: 1.75rem;
      font-size: 1.5rem;
      max-width: 45rem;
   }
   .statsContainer {
      width: 100%;
      margin-top: 6rem;
      max-width: 45rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      .vertical {
         width: 100%;
         display: flex;
         justify-content: space-between;
         @media (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
         }
         margin-bottom: 0.75rem;
         .stat {
            display: flex;
            flex-direction: column;
            flex: 1 1 48%;
            max-width: 17.5rem;
            line-height: 1.5;
            @media (max-width: 1024px) {
               width: max-content;
            }
            .statName {
               font-size: 1.25rem;
            }
            .statDescription {
               margin: 1.25rem 0;  
            }
         }
      }
   }
   .button {
      background: var(--tertiary) !important;
      margin-top: 6rem;
      padding: 1.125rem;
      .anchor {
         text-decoration: none;
         color: var(--secondary);
         :hover {
            text-decoration: none;
         }
      }
   }
}

.anchor

.cont {
   margin-bottom: 1rem !important;
}
