.fixed {
   background-color: #181818;
   padding-top: 2%;
   margin-left: 10%;
   .Navbar {
      margin-left: 10%;
      width: 70%;
      font-family: 'Roboto', sans-serif;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      .navLinks {
         font-size: 16px;
         color: white;
         text-decoration: none;
      }
      .logo {
         display: inline-flex;
         padding-top: 10px;
         font-size: 14px;
         text-align: center;
         width: 75%;
         height: auto;
      }
      img {
         height: 40px;
      }
   }
}

@media only screen and (max-width: 400px) {
   .logo {
      display: block;
   }
}

@media only screen and (max-width: 1509px) {
   .desktop {
      display: none;
   }
   .fixed {
      .Navbar {
         margin-left: 0;
         width: 90%;
      }
   }
}

@media only screen and (max-width: 750px) {
   .fixed {
      .Navbar {
         .logo {
            width: 95px;
         }
      }
   }
}

@media only screen and (min-width: 1508px) {
   .mobile {
      display: none;
   }
}

.mobileLinks {
   color: rgba(255, 255, 255, 0.8);
   text-transform: uppercase;
   text-decoration: none;
   margin-top: 4%;
   margin-left: 4%;
}

.mobileLinks:hover {
   color: rgb(255, 255, 255);
}
.btn:focus {
   outline: none;
   box-shadow: none;
}
