.fixed {
   display: flex;
   justify-content:center;
   padding-top: 20px;
   nav {
      color: white;
      width: 70%!important;
      ul {
         flex-wrap:wrap;
         justify-content: space-between;
         li {
            a {
               color: white;
               text-decoration: none;
            }
         }
      }
      .logo {
         display: flex;
         flex-wrap: nowrap;
         align-items: center;
         div{
            display: inline-block;
         }
      }
      background-color: #181818 !important;
      padding-top: 2%;
      img {
         height: 40px;
      }
   }
}

@media only screen and (max-width: 990px) {
   .fixed {
      display: inline;
      nav{
         width: 100%!important;
      }
   }
}

@media only screen and (max-width: 1444px) {
   .fixed {
      nav{
         ul{
            flex-wrap: nowrap;
         }
      }
   }
}