.section {
    @media (min-width: 650px) {
        --font-size-header: 60px;
    }
    @media (max-width: 450px) {
        --font-size-header: 30px;
    }

    display: grid;
    place-items: center;

    margin-left: 2.333rem;
    margin-right: 2.333rem;

    @media (max-width: 450px) {
        margin-left: 0;
        margin-right: 0;
    }

    padding: 0;

    max-width: 100%;
    width: auto;

    background: var(--primary);
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        margin: 5rem 0 -6rem 0;

        @media (max-width: 670px) {
            flex-flow: column wrap;
            justify-content: center;
            margin-right: 1rem;
            margin-left: 1rem;
        }
    }

    .heading {
        text-align: center;

        @media (min-width: 450px) {
            margin-bottom: 3rem;
        }

        @media only screen and (min-width: 576px) {
            margin-top: 5rem;
        }
    }

    .sub_heading {
        max-width: 55%;

        @media (max-width: 850px) {
            max-width: 60%;
        }
        @media (max-width: 800px) {
            max-width: 65%;
        }
        @media (max-width: 670px) {
            max-width: 80%;
        }
    }

    .button {
        color: var(--secondary);
        background-color: var(--tertiary);
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
        width: 50%;
        border: 1px solid var(--secondary);
        // border-radius: 3.5rem;
        // box-shadow: 0px 15px 20px #0a047a;
        margin-top: 5rem;
        padding: 1rem 2rem 1rem 2rem;
    }
}
