.section {
   --primary: #181818;
   --secondary: #ffffff;
   --tertiary: #4452fe;
   --font-family: 'Roboto';
   --font-size: 40px;

   @media (min-width: 650px) {
      --font-size: 60px;
   }
   @media (max-width: 450px) {
      --font-size: 30px;
   }

   display: grid;
   place-items: center;

   background: var(--primary);
   .container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 950px) {
         flex-flow: column wrap;
         justify-content: center;
      }
   }

   .heading {
      color: var(--secondary);
      font-family: var(--font-family);
      margin-top: 75px;
      margin-bottom: 75px;
      font-size: var(--font-size);

      @media (min-width: 450px) {
         margin-bottom: 150px;
      }
   }
}
