.section {
   @media (min-width: 650px) {
      --font-size-header: 60px;
   }
   @media (max-width: 450px) {
      --font-size-header: 30px;
   }

   display: grid;
   place-items: center;

   background: var(--primary);
   .container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      margin: 5rem 3rem -6rem 3rem;

      @media (max-width: 950px) {
         flex-flow: column wrap;
         justify-content: center;
         margin-right: 5rem;
         margin-left: 5rem;
      }

      @media (max-width: 650px) {
         margin-right: 1rem;
         margin-left: 1rem;
      }
   }

   .heading {
      text-align: center;
   }
}
