@font-face {
   font-family: 'roboto-normal';
   src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}

body {
   /*     CSS style variables     */

   --primary: #181818; /* Cod Gray */
   --secondary: #ffffff; /* White. This is to be used for text */
   --tertiary: #4452fe; /* Dodger Blue */
   --font-family: 'roboto-normal';
   --font-size-header: 40px; /* Font size for the secti0n headers */
   --text-color: var(--secondary);

   font-family: var(--font-family) !important;

   user-select: none;
}

.container {
   margin-top: 12.5rem;
}

@media (max-width: 768px) {
   .container {
      margin-top: 7.5rem;
   }
}

a {
   color: rgba(255, 255, 255, 0.9);
}

a:hover {
   color: rgb(255, 255, 255);
}

h1 {
   color: var(--secondary);
   font-family: 'Roboto Mono', monospace;
   font-weight: 400;
   font-size: 5rem;
   text-align: center;
}

h2 {
   color: var(--secondary);
   font-family: var(--font-family);
   font-size: 3.25rem;
   text-align: center;
   margin-bottom: 1.75rem;
   font-weight: 400;
}

h4 {
   color: var(--secondary);
   font-family: var(--font-family);
   font-size: 1.25rem;
   text-align: center;
   margin-bottom: 1.75rem;
   font-weight: 400;
}

@media only screen and (max-width: 768px) {
   h1 {
      font-size: 3.75rem;
   }
}
