:root {
   --primary: #181818;
   --secondary: #ffffff;
   --tertiary: #4452fe;
}

body {
   background: var(--primary) !important;
   color: var(--secondary) !important;
}

.sectionheading1 {
   margin-left: 2.25rem;
   font-size: 5rem;
   @media (max-width: 768px) {
      font-size: 3.75rem;
   }
   font-family: 'Roboto Mono', monospace;
   padding-top: 5%;
}

.sectionsubheading1 {
   font-family: 'Roboto Mono', monospace;
   font-size: 1.5rem;
   @media (max-width: 768px) {
      font-size: 1.75rem;
   }
   padding-bottom: 3%;
   padding-top: 2%;
   font-weight: 400;
}
.sectionsubheading2 {
   font-family: 'Roboto Mono', monospace;
   font-size: 1.5rem;
   @media (max-width: 768px) {
      font-size: 1.75rem;
   }
   padding-bottom: 5%;
}
.sectionsubheadingdiff {
   font-family: 'Roboto Mono', monospace;
   font-size: 1.5rem;
   @media (max-width: 768px) {
      font-size: 1.75rem;
   }
}
.background1 {
   position: relative;
   padding: 10%;
}
.col2 {
   background: var(--primary);
   padding-left: 12%;
}
.col1 {
   background: var(--primary);
}
.card1 {
   background: var(--primary);
   border: transparent !important;
}
.cardblock {
   background: var(--primary);
   padding: 10%;
}
.cardtitle {
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 20px;
   text-align: left;
   padding-bottom: 1rem;
}
.cardtext {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 16px;
}
.calendarelement {
   padding-top: 0;
   padding-bottom: 6%;
}
/*.image-stack {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   position: relative;
}

.image-stack__item--bottom {
   grid-column: 4/-1;
   grid-row: 1;
}

.image-stack__item--top {
   grid-column: 1 / span 8;
   grid-row: 1;
   padding-top: 20%;
}

img {
   display: block;
}*/
